#content{
    width: 1100px;}
#content table{
    width: 100%;
    margin: 20px 0;
    border: 1px solid #1939a3;
}
#content table td{
    border: 1px solid #1939a3;
    border-spacing: 0;
    border-collapse: 0;
    text-align: center;
}
#content table th{
    border: 1px solid #1939a3;
    border-spacing: 0;
    border-collapse: 0;
    text-align: center;
}